body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}  


/* Style for Navbar */

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}



/* Footer Style */

.f-info-links , .f-info-socials, .f-info-brand{
   width: 100%;
   display: flex;
   align-items: center;
    justify-content: center;
}

.f-info-links a{
    color: #222222;
    text-decoration: none;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    justify-content: space-around;
    align-items: space-evenly;
    flex-wrap: wrap;
}

.f-info-socials a{
    color: #222222;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;
}



/* footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
} */



/* Card Style */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}


/* Card Effect */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* Map Style */

#map {
    height: 400px;
    width: 80 vh;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
